
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dist/styles.css">
    <link rel="stylesheet" href="./src/tailwind.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<header>
    <div class="h-10 bg-black flex flex-row gap-4">

<img src="/img-ivan/loader.png" class="h-9 px-20">
<ul class="">
<a class="text-white">about</a>
<a class="text-white ">book</a>
<a class="text-white ">portfolio</a>
<a class="text-white ">blog</a>
<a class="text-white ">contact</a>

</ul>

</div>
</header>
<main>
    <img src="/img-ivan/adham-dannaway-designer-coder.jpg">
</main>
</body>
</html>
